# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['sandbox'] %}{% if loop.index > 1%},{% endif %}PLAINTEXT://{{ host }}:{{broker.config.port}}{% endfor %}

{% include './includes/base_schema-registry.properties.j2' %}